
.metadata/.lock
.metadata/.log
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2020/12/50/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2020/12/50/refactorings.index
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_4
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/cfa9ea61d13d4ce29019d13939f7f601/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/cfa9ea61d13d4ce29019d13939f7f601/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/cfa9ea61d13d4ce29019d13939f7f601/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/cfa9ea61d13d4ce29019d13939f7f601/write.lock
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.jdt/mobile-app-ws.container
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.16.0.20200318-1040.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/version.ini
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_3
.metadata/.plugins/org.eclipse.core.resources/.projects/mobile-app-ws/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/mobile-app-ws/.location
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/1.snap
.metadata/.plugins/org.eclipse.debug.core/.launches/mobile-app-ws-launch.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/mobile-app-ws.launch
.metadata/.plugins/org.eclipse.jdt.core/1036068673.index
.metadata/.plugins/org.eclipse.jdt.core/1041297952.index
.metadata/.plugins/org.eclipse.jdt.core/1121283035.index
.metadata/.plugins/org.eclipse.jdt.core/1210450171.index
.metadata/.plugins/org.eclipse.jdt.core/1227316214.index
.metadata/.plugins/org.eclipse.jdt.core/1263632816.index
.metadata/.plugins/org.eclipse.jdt.core/1276422609.index
.metadata/.plugins/org.eclipse.jdt.core/128443011.index
.metadata/.plugins/org.eclipse.jdt.core/1317511999.index
.metadata/.plugins/org.eclipse.jdt.core/1335909188.index
.metadata/.plugins/org.eclipse.jdt.core/1342209124.index
.metadata/.plugins/org.eclipse.jdt.core/146386845.index
.metadata/.plugins/org.eclipse.jdt.core/1469390213.index
.metadata/.plugins/org.eclipse.jdt.core/1563301398.index
.metadata/.plugins/org.eclipse.jdt.core/1563580623.index
.metadata/.plugins/org.eclipse.jdt.core/1650452990.index
.metadata/.plugins/org.eclipse.jdt.core/1730113464.index
.metadata/.plugins/org.eclipse.jdt.core/1760175385.index
.metadata/.plugins/org.eclipse.jdt.core/1789841318.index
.metadata/.plugins/org.eclipse.jdt.core/1820749328.index
.metadata/.plugins/org.eclipse.jdt.core/1826904567.index
.metadata/.plugins/org.eclipse.jdt.core/1880724650.index
.metadata/.plugins/org.eclipse.jdt.core/1954708740.index
.metadata/.plugins/org.eclipse.jdt.core/1960077730.index
.metadata/.plugins/org.eclipse.jdt.core/1962370226.index
.metadata/.plugins/org.eclipse.jdt.core/2084124219.index
.metadata/.plugins/org.eclipse.jdt.core/209848550.index
.metadata/.plugins/org.eclipse.jdt.core/2142811050.index
.metadata/.plugins/org.eclipse.jdt.core/2192979607.index
.metadata/.plugins/org.eclipse.jdt.core/219841609.index
.metadata/.plugins/org.eclipse.jdt.core/2218917829.index
.metadata/.plugins/org.eclipse.jdt.core/2265277150.index
.metadata/.plugins/org.eclipse.jdt.core/2345865703.index
.metadata/.plugins/org.eclipse.jdt.core/2389280320.index
.metadata/.plugins/org.eclipse.jdt.core/2402914983.index
.metadata/.plugins/org.eclipse.jdt.core/2501727591.index
.metadata/.plugins/org.eclipse.jdt.core/2513357563.index
.metadata/.plugins/org.eclipse.jdt.core/2605446643.index
.metadata/.plugins/org.eclipse.jdt.core/2623792747.index
.metadata/.plugins/org.eclipse.jdt.core/2658110834.index
.metadata/.plugins/org.eclipse.jdt.core/2658703501.index
.metadata/.plugins/org.eclipse.jdt.core/2672566804.index
.metadata/.plugins/org.eclipse.jdt.core/2722983882.index
.metadata/.plugins/org.eclipse.jdt.core/2752513136.index
.metadata/.plugins/org.eclipse.jdt.core/2927850804.index
.metadata/.plugins/org.eclipse.jdt.core/2990253472.index
.metadata/.plugins/org.eclipse.jdt.core/305292370.index
.metadata/.plugins/org.eclipse.jdt.core/3085672032.index
.metadata/.plugins/org.eclipse.jdt.core/3094929106.index
.metadata/.plugins/org.eclipse.jdt.core/3109244182.index
.metadata/.plugins/org.eclipse.jdt.core/3137167534.index
.metadata/.plugins/org.eclipse.jdt.core/3138871456.index
.metadata/.plugins/org.eclipse.jdt.core/31427930.index
.metadata/.plugins/org.eclipse.jdt.core/3148867861.index
.metadata/.plugins/org.eclipse.jdt.core/3154814256.index
.metadata/.plugins/org.eclipse.jdt.core/3275736551.index
.metadata/.plugins/org.eclipse.jdt.core/3311536574.index
.metadata/.plugins/org.eclipse.jdt.core/3333370990.index
.metadata/.plugins/org.eclipse.jdt.core/3374368421.index
.metadata/.plugins/org.eclipse.jdt.core/3396755041.index
.metadata/.plugins/org.eclipse.jdt.core/3397932176.index
.metadata/.plugins/org.eclipse.jdt.core/3421841855.index
.metadata/.plugins/org.eclipse.jdt.core/3438401337.index
.metadata/.plugins/org.eclipse.jdt.core/3523961465.index
.metadata/.plugins/org.eclipse.jdt.core/3527301238.index
.metadata/.plugins/org.eclipse.jdt.core/357796839.index
.metadata/.plugins/org.eclipse.jdt.core/3668548717.index
.metadata/.plugins/org.eclipse.jdt.core/3685516994.index
.metadata/.plugins/org.eclipse.jdt.core/3690399710.index
.metadata/.plugins/org.eclipse.jdt.core/3754948230.index
.metadata/.plugins/org.eclipse.jdt.core/3775431999.index
.metadata/.plugins/org.eclipse.jdt.core/3818469638.index
.metadata/.plugins/org.eclipse.jdt.core/3866788472.index
.metadata/.plugins/org.eclipse.jdt.core/386752536.index
.metadata/.plugins/org.eclipse.jdt.core/3870285008.index
.metadata/.plugins/org.eclipse.jdt.core/3881860684.index
.metadata/.plugins/org.eclipse.jdt.core/3895350346.index
.metadata/.plugins/org.eclipse.jdt.core/3953189089.index
.metadata/.plugins/org.eclipse.jdt.core/3971306171.index
.metadata/.plugins/org.eclipse.jdt.core/3975767464.index
.metadata/.plugins/org.eclipse.jdt.core/398659802.index
.metadata/.plugins/org.eclipse.jdt.core/3989993973.index
.metadata/.plugins/org.eclipse.jdt.core/4170656695.index
.metadata/.plugins/org.eclipse.jdt.core/4172054715.index
.metadata/.plugins/org.eclipse.jdt.core/4185249600.index
.metadata/.plugins/org.eclipse.jdt.core/4191092391.index
.metadata/.plugins/org.eclipse.jdt.core/4217591460.index
.metadata/.plugins/org.eclipse.jdt.core/4228644543.index
.metadata/.plugins/org.eclipse.jdt.core/4273450356.index
.metadata/.plugins/org.eclipse.jdt.core/4292115940.index
.metadata/.plugins/org.eclipse.jdt.core/522645477.index
.metadata/.plugins/org.eclipse.jdt.core/526622925.index
.metadata/.plugins/org.eclipse.jdt.core/537882461.index
.metadata/.plugins/org.eclipse.jdt.core/643915117.index
.metadata/.plugins/org.eclipse.jdt.core/674355616.index
.metadata/.plugins/org.eclipse.jdt.core/677171871.index
.metadata/.plugins/org.eclipse.jdt.core/700380326.index
.metadata/.plugins/org.eclipse.jdt.core/722086626.index
.metadata/.plugins/org.eclipse.jdt.core/778658866.index
.metadata/.plugins/org.eclipse.jdt.core/812433045.index
.metadata/.plugins/org.eclipse.jdt.core/81971000.index
.metadata/.plugins/org.eclipse.jdt.core/830380436.index
.metadata/.plugins/org.eclipse.jdt.core/875055422.index
.metadata/.plugins/org.eclipse.jdt.core/882884223.index
.metadata/.plugins/org.eclipse.jdt.core/917772538.index
.metadata/.plugins/org.eclipse.jdt.core/948764264.index
.metadata/.plugins/org.eclipse.jdt.core/969271804.index
.metadata/.plugins/org.eclipse.jdt.core/979863389.index
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_4.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_6
.metadata/.plugins/org.eclipse.m2e.core/nexus/cfa9ea61d13d4ce29019d13939f7f601/_0_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/cfa9ea61d13d4ce29019d13939f7f601/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/cfa9ea61d13d4ce29019d13939f7f601/segments_3
mobile-app-ws/mvnw.cmd
mobile-app-ws/mvnw
mobile-app-ws/bin/src/test/java/com/appsdeveloperblog/app/ws/MobileAppWsApplicationTests.class
mobile-app-ws/bin/src/main/resources/application.properties
mobile-app-ws/bin/src/main/java/com/appsdeveloperblog/app/ws/MobileAppWsApplication.class
mobile-app-ws/bin/pom.xml
mobile-app-ws/bin/mvnw.cmd
mobile-app-ws/bin/mvnw
mobile-app-ws/bin/.mvn/wrapper/MavenWrapperDownloader.class
mobile-app-ws/bin/.mvn/wrapper/maven-wrapper.properties
mobile-app-ws/bin/.mvn/wrapper/maven-wrapper.jar
mobile-app-ws/.mvn/wrapper/MavenWrapperDownloader.java
mobile-app-ws/.mvn/wrapper/maven-wrapper.properties
mobile-app-ws/.mvn/wrapper/maven-wrapper.jar
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.core.resources/.projects/mobile-app-ws/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/mobile-app-ws/.markers.snap
mobile-app-ws/bin/.mvn/wrapper/maven-wrapper.jar
mobile-app-ws/.mvn/wrapper/maven-wrapper.jar
mobile-app-ws/bin/.mvn/wrapper/maven-wrapper.jar
mobile-app-ws/.mvn/wrapper/maven-wrapper.jar
*.jar
mobile-app-ws/.classpath
mobile-app-ws/.project
mobile-app-ws/.settings/org.eclipse.core.resources.prefs
mobile-app-ws/.settings/org.eclipse.jdt.core.prefs
mobile-app-ws/bin/.project
mobile-app-ws/bin/.settings/org.eclipse.core.resources.prefs
mobile-app-ws/bin/.settings/org.eclipse.jdt.core.prefs
mobile-app-ws/bin/HELP.md
mobile-app-ws/bin/target/classes/application.properties
mobile-app-ws/bin/target/classes/META-INF/MANIFEST.MF
mobile-app-ws/bin/target/classes/META-INF/maven/com.appsdeveloperblog.app.ws/mobile-app-ws/pom.properties
mobile-app-ws/bin/target/classes/META-INF/maven/com.appsdeveloperblog.app.ws/mobile-app-ws/pom.xml
mobile-app-ws/HELP.md
mobile-app-ws/src/main/java/com/appsdeveloperblog/app/.DS_Store
mobile-app-ws/target/classes/com/appsdeveloperblog/app/ws/io/entity/UserEntity.class
mobile-app-ws/target/classes/com/appsdeveloperblog/app/ws/io/repository/UserRepository.class
mobile-app-ws/target/classes/com/appsdeveloperblog/app/ws/MobileAppWsApplication.class
mobile-app-ws/target/classes/com/appsdeveloperblog/app/ws/security/WebSecurity.class
mobile-app-ws/target/classes/com/appsdeveloperblog/app/ws/service/impl/UserServiceImpl.class
mobile-app-ws/target/classes/com/appsdeveloperblog/app/ws/service/UserService.class
mobile-app-ws/target/classes/com/appsdeveloperblog/app/ws/shared/dto/UserDto.class
mobile-app-ws/target/classes/com/appsdeveloperblog/app/ws/shared/Utils.class
mobile-app-ws/target/classes/com/appsdeveloperblog/app/ws/ui/controller/UserController.class
mobile-app-ws/target/classes/com/appsdeveloperblog/app/ws/ui/model/request/UserDetailsRequestModel.class
mobile-app-ws/target/classes/com/appsdeveloperblog/app/ws/ui/model/response/UserRest.class
mobile-app-ws/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
mobile-app-ws/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
mobile-app-ws/target/mobile-app-ws-0.0.1-SNAPSHOT.jar.original
mobile-app-ws/target/maven-archiver/pom.properties
mobile-app-ws/target/classes/application.properties
.metadata/.plugins/org.eclipse.core.resources/.history/35/c053afe2b138001b1c23ba7b2091c9bf
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_4_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_5.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_7
/.metadata/
*.class
mobile-app-ws/.idea/compiler.xml
mobile-app-ws/.idea/encodings.xml
mobile-app-ws/.idea/jarRepositories.xml
mobile-app-ws/.idea/libraries/Maven__antlr_antlr_2_7_7.xml
mobile-app-ws/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_3.xml
mobile-app-ws/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_3.xml
mobile-app-ws/.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
mobile-app-ws/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_11_3.xml
mobile-app-ws/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_11_3.xml
mobile-app-ws/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_11_3.xml
mobile-app-ws/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_11_3.xml
mobile-app-ws/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_11_3.xml
mobile-app-ws/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_11_3.xml
mobile-app-ws/.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_4_0.xml
mobile-app-ws/.idea/libraries/Maven__com_sun_activation_jakarta_activation_1_2_2.xml
mobile-app-ws/.idea/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_11.xml
mobile-app-ws/.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
mobile-app-ws/.idea/libraries/Maven__com_zaxxer_HikariCP_3_4_5.xml
mobile-app-ws/.idea/libraries/Maven__io_jsonwebtoken_jjwt_0_6_0.xml
mobile-app-ws/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
mobile-app-ws/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
mobile-app-ws/.idea/libraries/Maven__jakarta_persistence_jakarta_persistence_api_2_2_3.xml
mobile-app-ws/.idea/libraries/Maven__jakarta_transaction_jakarta_transaction_api_1_3_3.xml
mobile-app-ws/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
mobile-app-ws/.idea/libraries/Maven__mysql_mysql_connector_java_8_0_22.xml
mobile-app-ws/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_10_18.xml
mobile-app-ws/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_10_18.xml
mobile-app-ws/.idea/libraries/Maven__net_minidev_accessors_smart_1_2.xml
mobile-app-ws/.idea/libraries/Maven__net_minidev_json_smart_2_3.xml
mobile-app-ws/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_13_3.xml
mobile-app-ws/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_13_3.xml
mobile-app-ws/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_39.xml
mobile-app-ws/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_39.xml
mobile-app-ws/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
mobile-app-ws/.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_6.xml
mobile-app-ws/.idea/libraries/Maven__org_assertj_assertj_core_3_18_1.xml
mobile-app-ws/.idea/libraries/Maven__org_dom4j_dom4j_2_1_3.xml
mobile-app-ws/.idea/libraries/Maven__org_glassfish_jakarta_el_3_0_3.xml
mobile-app-ws/.idea/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_3.xml
mobile-app-ws/.idea/libraries/Maven__org_glassfish_jaxb_txw2_2_3_3.xml
mobile-app-ws/.idea/libraries/Maven__org_hamcrest_hamcrest_2_2.xml
mobile-app-ws/.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_1_2_Final.xml
mobile-app-ws/.idea/libraries/Maven__org_hibernate_hibernate_core_5_4_23_Final.xml
mobile-app-ws/.idea/libraries/Maven__org_javassist_javassist_3_24_0_GA.xml
mobile-app-ws/.idea/libraries/Maven__org_jboss_jandex_2_1_3_Final.xml
mobile-app-ws/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_1_Final.xml
mobile-app-ws/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_7_0.xml
mobile-app-ws/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_7_0.xml
mobile-app-ws/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_7_0.xml
mobile-app-ws/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_7_0.xml
mobile-app-ws/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_7_0.xml
mobile-app-ws/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_7_0.xml
mobile-app-ws/.idea/libraries/Maven__org_mockito_mockito_core_3_6_0.xml
mobile-app-ws/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_3_6_0.xml
mobile-app-ws/.idea/libraries/Maven__org_objenesis_objenesis_3_1.xml
mobile-app-ws/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
mobile-app-ws/.idea/libraries/Maven__org_ow2_asm_asm_5_0_4.xml
mobile-app-ws/.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_0.xml
mobile-app-ws/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_30.xml
mobile-app-ws/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_30.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_4_0.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_4_0.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_4_0.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_aop_2_4_0.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jpa_2_4_0.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_2_4_0.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_4_0.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_4_0.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_security_2_4_0.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_4_0.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_4_0.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_4_0.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_4_0.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_4_0.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_data_spring_data_commons_2_4_1.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_data_spring_data_jpa_2_4_1.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_security_spring_security_config_5_4_1.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_security_spring_security_core_5_4_1.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_security_spring_security_web_5_4_1.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_spring_aop_5_3_1.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_spring_aspects_5_3_1.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_spring_beans_5_3_1.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_spring_context_5_3_1.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_spring_core_5_3_1.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_spring_expression_5_3_1.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_1.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_spring_jdbc_5_3_1.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_spring_orm_5_3_1.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_spring_test_5_3_1.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_spring_tx_5_3_1.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_spring_web_5_3_1.xml
mobile-app-ws/.idea/libraries/Maven__org_springframework_spring_webmvc_5_3_1.xml
mobile-app-ws/.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_7_0.xml
mobile-app-ws/.idea/libraries/Maven__org_yaml_snakeyaml_1_27.xml
mobile-app-ws/.idea/misc.xml
mobile-app-ws/.idea/modules.xml
mobile-app-ws/.idea/vcs.xml
mobile-app-ws/mobile-app-ws.iml
*.lst
mobile-app-ws/.idea/uiDesigner.xml
